main#home-main {
  width: 100vw;
  min-height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main#home-main .main-content {
  width: 100%;
  max-height: min(170vw, 500px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  max-width: 700px;
  padding: 0 25px;
}

main#home-main .main-content > button {
  border: none;
  align-self: flex-end;
  border-radius: 5px 5px 0 0;
  padding: 8px;
  font-weight: bold;
  color: white;
  background-color: #848fb4;
  font-size: min(10pt, 2.7vw);
  cursor: pointer;
  transition: 0.5s;
}

main#home-main .main-content > button:hover {
  color: #323b57;
}

main#home-main .main-content > section {
  height: min(170vw, 500px);
  width: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-areas: 
    'title'
    'mark';
  max-height: 500px;
  flex-shrink: 0;
}

main#home-main section h3.section-title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #848fb4;
  border-radius: 25px 0 0 0;
  font-size: min(4vw, 15pt);
  position: relative;
}

main#home-main section h3.section-title button {
  position: absolute;
  border-radius: 5px;
  background-color: #b20c90;
  padding: 4px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: min(2vw, 7pt);
  left: 10px;
  cursor: pointer;
  transition: 0.5s;
}

main#home-main section h3.section-title button:hover {
  background-color: white;
  color: #b20c90;
}

main#home-main section.text-area textarea {
  grid-area: mark;
  resize: none;
  width: 100%;
  border: none;
  border-radius: 0 0 25px 25px;
  padding: 10px 5px;
  font-size: min(4vw, 12pt);
  height: 100%;
}

main#home-main section.mark-container h3 {
  grid-area: title;
}

main#home-main section.mark-container .mark-prev { 
  grid-area: mark;
  width: 100%;
  background-color: white;
  color: #24292e;
  overflow-y: scroll;
  border: none;
  border-radius: 0 0 25px 25px;
  padding: 15px 30px;
  font-size: min(4.5vw, 12pt);
  max-height: 450px;
}

.mark-prev ul {
  padding-left: 2.2em;
}

.mark-prev ul.task-list-container {
  padding-left: calc(2.2em - 26px);
}

.mark-prev p {
  margin-bottom: 15px;
}

.mark-prev li {
  margin: 15px 0;
  line-height: 1.6;
}

.mark-prev li a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

.mark-prev li a:hover {
  text-decoration: blue underline;
}

.mark-prev li.task-list {
  list-style: none;
}

.mark-prev li input {
  margin-right: 10px;
}

.mark-prev h1,
.mark-prev h2,
.mark-prev h3,
.mark-prev h4,
.mark-prev h5,
.mark-prev h6
{
  margin: 20px 0;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 5px;
}


.mark-prev h1 {
  font-size: min(7vw, 20pt);
}

.mark-prev h2 {
  font-size: min(6.7vw, 20pt);
}

.mark-prev h3 {
  font-size: min(6.4vw, 20pt);
}

.mark-prev h4 {
  font-size: min(6.1vw, 20pt);
}

.mark-prev h5 {
  font-size: min(5.8vw, 20pt);
}

.mark-prev h6 {
  font-size: min(5.5vw, 20pt);
}

.mark-prev code {
  background: #e7e7e7;
  border-radius: 5px;
  padding: 3px;
  font-size: min(3.5vw, 10pt);
}














